<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
		<add key="octopus-user" value="" />
		<add key="octopus-pass" value="" />
		<add key="octopus-server" value="" />
		<add key="octopus-key" value="" />
		<add key="octopus-base-release-projectId" value="" />
		<add key="AWSRegion" value=""/>
		<add key="AWSAccessKey" value=""/>
		<add key="AWSSecretKey" value=""/>
		<add key="aws-imiId" value=""/>
		<add key="aws-keyPair" value=""/>
		<add key="aws-groupSecurity" value=""/>
		<add key="testlocal" value="true"/>
		<add key="nuget-feed" value=""/>
		<add key="slack-uri" value=""/>
  </appSettings>

</configuration>